*.pyc
*.h5
sdsim/obj
*.sln
*.userprefs
sdsim/Temp
*.csproj
sdsim/.vs
sdsim/Build
dataset
sdsim/Assets/Town Creator Kit V2
sdsim/Library
sdsim/Packages
sdsim/ProjectSettings
sdsim/Logs
/debug.log
/camera_a.png
/camera_b.png